.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.rating > span 
{
  display: inline-block;
  position: relative;
  width: 1.2em;
}

.rating > span:hover,
.rating > span:hover ~ span 
{
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before 
{
   content: "\2605";
   position: absolute;
   left: 0; 
   color: gold;

}




body { padding: 100px; }

@media screen and (min-width: 1200px){
  .content-size{
    width:100%;
  }
}

@media screen and (max-width: 959px){
  .content-size{
    width:100%;
  }
}

@media screen and (max-width: 640px){
  .content-size{
    width:100%;
  }
}

@media screen and (max-width: 480px){
  .content-size{
    width:100%;
  }
}
