<div id="w" xmlns="http://www.w3.org/1999/html">
  <div id="content" class="clearfix">
    <div id="userphoto" style="text-align: center;">
      <img ng-src="{{user.picture}}" alt="No Image set" style="height: 100px;width: 100px;" class="profilepic">
    </br>
    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#profilePhotoModel" ng-hide="otherProfile">change photo</button>
  </div>
  <h1>{{user.username}}</h1>

  <section id="bio">
    <p>Welcome to DevCafe.</p>

  </section>

  <!-- hidden l7d ma n3ml frnds asln -->
  <section id="friends" class="hidden" >
    <p>Friends list:</p>

    <ul id="friendslist" class="clearfix">
      <li><a href="#"><img src="../../stylesheets/images/avatar.png" width="22" height="22"> Username</a></li>
      <li><a href="#"><img src="../../stylesheets/images/avatar.png" width="22" height="22"> SomeGuy123</a></li>
      <li><a href="#"><img src="../../stylesheets/images/avatar.png" width="22" height="22"> PurpleGiraffe</a></li>
    </ul>
  </section>

  <p class="setting"><span>UserName</span> {{user.username}}</p>

  <p class="setting"><span>E-mail</span> {{user.email}}</p>

  <p class="setting"><span>Full Name</span> {{user.first_name}} {{user.last_name}}</p>

  <p class="setting"><span>Birth Date</span> {{user.birth_date}}</p>

  <p class="setting"><span>Country</span> {{user.country}}</p>

  <p class="setting"><span>Address</span> {{user.address}}</p>

</section>
</div><!-- @end #content -->

<div ng-hide="otherProfile">
  <a href="editprofile" class="setting"><h2>Edit</h2></a>
</div>


</div><!-- @end #w -->

<div ng-app="fileUpload" ng-controller="uploadCtrl" class="modal fade" id="profilePhotoModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">change picture</h4>
      </div>
      <div class="modal-body">

        <button type="file" ngf-select="" ng-model="files" accept="image/*" class="btn-sm">Browse pictures</button>
      </br>
      <div>
        <img ng-show="files[0] != null" ng-thumbnail="files[0]" class="thumb" style="height: 100px;width: 110px;">
      </div>

      <div>
        <span class="progress" ng-show="files.progress >= 0">
          <div style="width:100%" ng-bind="files.progress + '%'" class="ng-binding">100%</div>
        </span>
        <span ng-show="files.result" class="">Upload Successful</span>
      </div>


      <div class="progress" ng-show="files.progress >= 0">
        <div ng-bind="files.progress + '%'" class="progress-bar" role="progressbar" aria-valuenow="{{ files.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ files.progress }}%;">
          0%
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="files=null">Close</button>
        <button type="button" class="btn btn-primary sjqclass" ng-click="upload(files)">Save changes</button>
      </div>
    </div>
  </div>
</div>
    </div>

<!---------------------------------------------------------------------->
<div ng-if="!otherProfile" id="accordions">
<!------------My Transactions ------------------------------------------------>
<div class="panel-group content-size" id="Tranaccordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" style="display: block;" data-toggle="collapse" data-parent="#Tranaccordion" ng-click="vm.scrolto('collapseOne')" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <i class="fa fa-angle-right"></i> My Transactions
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

          <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">

                          <div ng-if="!transactions"><p>You have no <strong>transactions</strong></p></div>
                          <table ng-if="transactions" class="table table-striped table-advance table-hover">

                              <label ng-show="transactions">Search:
                                  <input ng-model="searchText">
                                  <select ng-model="status">
                                      <option value="" selected="selected">--------</option>
                                      <option value="true">Paid</option>
                                      <option value="false">UnPaid</option>
                                  </select>
                              </label>

                              <thead>
                              <tr>
                                  <th class="text-center">#ID</th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i><strong> App Name</strong></th>
                                  <th class="text-center"><i class="fa fa-usd"></i><strong> Price</strong></th>
                                  <th class="text-center"><i class="fa fa-barcode"></i><strong> Transaction ID</strong></th>
                                  <th class="text-center"><i class="fa fa-edit"></i><strong> Status</strong></th>
                                  <th class="text-center"><i class="fa fa-cloud-download"></i><strong> Download</strong></th>
                              </tr>
                              </thead>

                              <tbody><!--filter:{app:{price:searchText}}-->
                              <tr ng-repeat="transaction in transactions | filter:searchText | filter:{paid:status}" title="purchase date: {{ vm.getDateTime(transaction.purchase_time) }}">
                                  <td class="text-center"><a>{{$index + 1}}</a></td>
                                  <td class="hidden-phone"><a title="Go to App page" ng-href="/market/{{ transaction.app.id }}">{{transaction.app.name}}</a></td>
                                  <td class="text-center">${{transaction.app.price}}</td>
                                  <td class="text-center">{{transaction.unique_id}}</td>
                                  <td class="text-center"><span ng-class="{ 'label label-success label-mini' : transaction.paid==true ,'label label-danger label-mini':transaction.paid==false }" >{{transaction.paid?'Paid':'Unpaid'}}</span></td>
                                  <td class="text-center">
                                      <a href="{{ transaction.paid ? transaction.app.uploaded_file :'#' }}" class="btn btn-primary btn-xs" ng-class="{'disabled':!transaction.paid}"><i class="fa fa-pencil"></i></a>
                                  </td>
                              </tr>

                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div>

      </div>
    </div>
  </div>
</div>
<!------------End My Transactions ------------------------------------------------>


<!------------My Apps ------------------------------------------------>
<div class="panel-group content-size" id="Appaccordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" style="display: block;" data-toggle="collapse" data-parent="#Appaccordion" ng-click="vm.scrolto('collapseTwo')" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="fa fa-angle-right"></i> My Applications
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

          <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">

                          <div ng-if="!my_apps"><p>You have no <strong>Applications &nbsp;</strong> now</p></div>
                          <table ng-if="my_apps" class="table table-striped table-advance table-hover">

                              <label ng-show="my_apps">Search:
                                  <input ng-model="searchText2">
                              </label>

                              <thead>
                              <tr>
                                  <th class="text-center">#ID</th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i><strong> App Name</strong></th>
                                  <th class="text-center"><i class="fa fa-usd"></i><strong> Price</strong></th>
                                  <th class="text-center"><i class="fa fa-list-ol"></i><strong> Transactions</strong></th>
                                  <th class="text-center"><i class="fa fa-money"></i><strong> Total Profit</strong></th>
                                  <th class="text-center"><i class="fa fa-line-chart"></i><strong> Your Profit</strong></th>
                              </tr>
                              </thead>

                              <tbody>
                              <tr ng-repeat="app in my_apps | filter:searchText2 ">
                                  <td class="text-center"><a>{{$index + 1}}</a></td>
                                  <td class="hidden-phone"><a title="Go to App page" ng-href="/market/{{ app.id }}">{{app.name}}</a></td>
                                  <td class="text-center">${{app.price}}</td>
                                  <td class="text-center">{{app.transactions}}</td>
                                  <td class="text-center"><span>{{app.price*app.transactions}}</span></td>
                                  <td class="text-center">{{ (app.price-.05*app.price)*app.transactions }}</td>
                              </tr>

                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div>

      </div>
    </div>
  </div>
</div>
<!------------End My Apps ------------------------------------------------>

<!------------My Projects ------------------------------------------------>
<div class="panel-group content-size" id="projaccordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" style="display: block;" data-toggle="collapse" data-parent="#projaccordion" ng-click="vm.scrolto('collapseThr')" data-target="#collapseThr" aria-expanded="false" aria-controls="collapseThr">
          <i class="fa fa-angle-right"></i> My Projects
        </a>
      </h4>
    </div>
    <div id="collapseThr" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

          <div class="row mt">
                  <div class="col-md-12">
                      <div class="content-panel">

                          <div ng-if="!myProjects"><p>You have no <strong>Projects &nbsp;</strong> now</p></div>
                          <table ng-if="myProjects" class="table table-striped table-advance table-hover">

                              <label ng-show="myProjects">Search:
                                  <input ng-model="searchText3">
                              </label>

                              <thead>
                              <tr>
                                  <th class="text-center">#ID</th>
                                  <th class="hidden-phone"><i class="fa fa-question-circle"></i><strong> Project </strong></th>
                                  <th class="text-center"><i class="fa fa-edit"></i><strong> My Status</strong></th>
                                  <th class="text-center"><i class="fa fa-user"></i><strong> PM </strong></th>
                                  <th class="text-center"><i class="fa fa-line-chart"></i><strong> Progress</strong></th>
                              </tr>
                              </thead>

                              <tbody>
                              <tr ng-repeat="proj in myProjects | filter:searchText3 ">
                                  <td class="text-center"><a>{{$index + 1}}</a></td>
                                  <td class="hidden-phone"><a title="Go to Project page" ng-href="/projects/{{ proj.project }}"><img ng-src="{{ proj.proj_fields.proj_Logo }}">&nbsp;{{proj.proj_fields.proj_title}}</a></td>
                                  <td class="text-center">{{proj.is_pm ? 'P-Manager' : 'Contributor'}}</td>
                                  <td class="text-center"><a title="Go to User profile page" ng-href="/users/{{proj.proj_fields.PM_id}}">{{proj.is_pm ? user.username : proj.proj_fields.pm_name}}</a></td>
                                  <td class="text-center"><span>%{{proj.proj_fields.progress}}</span></td>
                              </tr>

                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->
              </div>

      </div>
    </div>
  </div>
</div>
<!------------End My Apps ------------------------------------------------>

</div>