<div id="w">
    <div id="content" class="clearfix">
      <div id="userphoto" ng-repeat="us in ProfileController.users"><img ng-src="{{user.picture}}" alt="../../stylesheets/images/avatar.png"></div>
      <h1>{{user.username}}</h1>

     <!-- <nav id="profiletabs">
        <ul class="clearfix">
          <li><a href="#settings">Profile</a></li>
        </ul>
      </nav> -->
      
      <section id="bio">
        <p>Welcome to Our DevCafe.</p>
        
        </section>
       
      <!-- hidden l7d ma n3ml frnds asln -->
      <section id="friends" class="hidden" >
        <p>Friends list:</p>
        
        <ul id="friendslist" class="clearfix">
          <li><a href="#"><img src="../../stylesheets/images/avatar.png" width="22" height="22"> Username</a></li>
          <li><a href="#"><img src="../../stylesheets/images/avatar.png" width="22" height="22"> SomeGuy123</a></li>
          <li><a href="#"><img src="../../stylesheets/images/avatar.png" width="22" height="22"> PurpleGiraffe</a></li>
        </ul>
      </section>
      <!--
       class="hidden" 
      <section id="settings" ng-repeat="us in ProfileController.users">
        <p>Edit your user settings:</p> -->
        
        <p class="setting"><span>UserName</span> {{user.username}}</p>
        
        <p class="setting"><span>E-mail</span> {{user.email}}</p>
        
        <p class="setting"><span>Full Name</span> {{user.first_name}} {{user.last_name}}</p>
        
        <p class="setting"><span>Birth Date</span> {{user.birth_date}}</p>
        
        <p class="setting"><span>Country</span> {{user.country}}</p>

        <p class="setting"><span>Address</span> {{user.address}}</p>

      </section>
    </div><!-- @end #content -->

    <!-- hn3ml edit, almost zy el register bs hn3ml url + getaccid 
check if nt authenticated
handle success and error, concole.log & window.location = profile
    -->
    <div>
      <a href="/editprofile" class="setting"><h2>Edit<img src="../../stylesheets/images/edit.png" alt="*Edit*"></h2></a>
    </div>


  </div><!-- @end #w -->
