		<!--Stylesheet -->
		<link href="static/stylesheets/styleJobs.css" rel="stylesheet">

		<!-- ============ JOBS START ============ -->

		<section id="jobs">
			<div class=".container-fluid">
				<div class="row">
					<div class="col-sm-8">
						<h2>Recent Jobs</h2>

						<div class="jobs">
							
							<!-- Job offer -->
							<a ng-click="vm.details(job.id)" ng-repeat="job in jobs">
								<div class="featured"></div>
								<img src="{{ job.proj_fields.proj_Logo }}" alt="" class="img-circle jobImg" />
								<div class="title">
									<h5>{{ job.name }}</h5>
									<p><span class="fa fa-user">&nbsp;</span> <strong>{{ job.proj_fields.pm_name }}</strong></p>
								</div>
								<div class="data">
									<span class="city"><i class="fa fa-map-marker"></i>{{ job.location }}</span>
									<span class="type {{ job.job_type=='parttime' ? 'part-time':job.job_type=='fulltime' ?'full-time':'freelance' }}"><i class="fa fa-clock-o"></i>{{ job.job_type }}</span>
									<span class="sallary"><i class="fa fa-dollar"></i>{{ job.profit=='free'? 'free':job.profit=='percentage'?job.profit_value+' %': job.profit_value}}</span>
                                    <span class="city"><i class="fa fa-calendar"></i><time-ago from-time='{{ job.time_posted }}'></time-ago></span>
								</div>
							</a>
						</div>

					<!--	<nav>
							<ul class="pagination">
								<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
								<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
							</ul>
						</nav>
                    -->
					</div>


                    <div class="col-sm-4" id="sidebar">

						<!-- Featured Jobs Start -->
						<div class="sidebar-widget jdetail">
							<h2>Job Details</h2>
							<a class="jdet">
                                <img src="/static/templates/projects/jobs/det-job.jpg" alt="Featured Job" class="img-responsive">
								<div class="featured-job">
									<img src="{{ jobDet.proj_fields.proj_Logo }}" alt="" class="img-circle pull-left" />
									<div class="title">
										<h5>{{ jobDet.name }}</h5>
										<p>Project Manager: <strong>{{ jobDet.proj_fields.pm_name }}</strong></p>
                                        <p>Posted on: <strong>{{ jobDateTime }}</strong></p>
									</div>
									<div class="data">
										<span class="city"><i class="fa fa-map-marker"></i>{{ jobDet.location }}</span>
										<span class="type {{ jobDet.job_type=='parttime' ? 'part-time':jobDet.job_type=='fulltime' ?'full-time':'freelance' }}"><i class="fa fa-clock-o"></i>{{ jobDet.job_type }}</span>
										<span class="sallary"><i class="fa fa-dollar"></i>{{ jobDet.profit=='free'? 'free':jobDet.profit=='percentage'?jobDet.profit_value+' %': jobDet.profit_value}}</span>
									</div>
									<div class="description">{{ jobDet.description }}</div>

                                    <div ng-if="!jobDet.proj_fields.is_pm" style="text-align: center"><a ng-click="vm.applyForJob(jobDet.id,jobDet.project)" class="btn btn-primary btn-lg">Apply Now</a></div>
                                    <div class="description">&nbsp;</div>
                                    <div class="description">&nbsp;</div>
                                    <br/>
								</div>
							</a>
						</div>
						<!-- Featured Jobs End -->
					</div>


				</div>
			</div>
		</section>

		<!-- ============ JOBS END ============ -->