		<!--Stylesheet -->
		<link href="static/stylesheets/styleJobs.css" rel="stylesheet">

		<!-- ============ JOBS START ============ -->

		<section id="jobs">
			<div class=".container-fluid">
				<div class="row">
					<div class="col-lg-12">

<div class="content-size">
						<div class="jobs">
							
							<!-- Job offer -->
							<a ng-click="vm.details(job.id)" ng-repeat="job in jobs">
								<div class="featured"></div>
								<img src="{{ job.proj_fields.proj_Logo }}" alt="" class="img-circle jobImg" />
								<div class="title">
									<h5>{{ job.name }}</h5>
									<p class="pmuser" ng-click="vm.getUser(job.proj_fields.pm_id,$event)"><span class="fa fa-user">&nbsp;</span> <strong>{{ job.proj_fields.pm_name }}</strong></p>
								</div>
								<div class="data">
									<span class="type {{ job.job_type=='parttime' ? 'part-time':job.job_type=='fulltime' ?'full-time':'freelance' }}"><i class="fa fa-clock-o"></i>{{ job.job_type }}</span>
									<span class="sallary"><i class="fa fa-dollar"></i>{{ job.profit=='free'? 'free':job.profit=='percentage'?job.profit_value+' %': job.profit_value}}</span>
                                    <span class="city"><i class="fa fa-calendar"></i><time-ago from-time='{{ job.time_posted }}'></time-ago></span>
								</div>
							</a>
						</div>
</div>
					<!--	<nav>
							<ul class="pagination">
								<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
								<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
							</ul>
						</nav>
                    -->
					</div>




                        <div class="modal fade" id="JobModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content col-sm-11">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Job details</h4>
      </div>
      <div class="modal-body">

						<!-- Featured Jobs Start -->
						<div class="sidebar-widget jdetail">
							<a class="jdet">
                                <img src="/static/templates/projects/jobs/det-job.jpg" alt="Featured Job" class="img-responsive imglogo">
								<div class="featured-job">
									<img src="{{ jobDet.proj_fields.proj_Logo }}" alt="" class="img-circle pull-left" />
									<div class="title">
										<h5>{{ jobDet.name }}</h5>
										<p ng-click="vm.getUser(jobDet.proj_fields.pm_id)">Project Manager: <strong class="pmuser" title="Go to User page">{{ jobDet.proj_fields.pm_name }}</strong></p>
                                        <p>Posted on: <strong title="Go to Project page" class="pmuser" ng-click="vm.getProj(jobDet.project)">{{ jobDateTime }}</strong></p>
									</div>
									<div class="data">
										<span class="city"><i class="fa fa-map-marker"></i>{{ jobDet.location }}</span>
										<span class="type {{ jobDet.job_type=='parttime' ? 'part-time':jobDet.job_type=='fulltime' ?'full-time':'freelance' }}"><i class="fa fa-clock-o"></i>{{ jobDet.job_type }}</span>
										<span class="sallary"><i class="fa fa-dollar"></i>{{ jobDet.profit=='free'? 'free':jobDet.profit=='percentage'?jobDet.profit_value+' %': jobDet.profit_value}}</span>
									</div>
									<div class="description">{{ jobDet.description }}</div>

                                    <div class="description">&nbsp;</div>
								</div>
							</a>
						</div>


          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-if="(!jobDet.proj_fields.is_pm && !jobDet.proj_fields.applied)&&(vm.loginme)" ng-click="vm.applyForJob(jobDet.id,jobDet.project)" class="btn btn-primary btn-lg">Apply Now</button>
      </div>
    </div>
  </div>
</div>
						<!-- Featured Jobs End -->



				</div>
			</div>
		</section>

		<!-- ============ JOBS END ============ -->