<div class="idea-body">
    <div ng-controller="PostIdeaController as postIdeaCtrl">
        <form ng-submit="postIdeaCtrl.PostIdea()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter your title here" style="margin:20px 270px 0px 270px; width: 57%; height: 30px;" ng-model="postIdeaCtrl.title"> </input>
            </div>
            <div class="form-group">
                <textarea class="form-group input-lg col-md-12" placeholder="Enter Description" style="margin:0px 270px 10px 270px; padding-top: 10px; width: 57%; height: auto;" ng-model="postIdeaCtrl.description"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="margin:0px 270px; width: 100px; height: 30px;">Spread</button>
            </div>
        </form>
    </div>
</div>

<!--
      <div class="tag">
        <h3>Tags</h3>
          <li class="artist cf" ng-repeat="tag in item.tags">
-->
<div style="
margin:20px 270px;width:750px;height:auto;padding:10px;margin-bottom: 20px;background-color: #fefefe;border: 1px solid #fefefe;
border-radius: 4px;" ng-repeat="item in ideas | orderBy : '-timestamp'">
    <h1 style="display:inline"> <a href="/profile"> {{item.owner}} </a> </h1>
    <br/>

    <h5> <span class="glyphicon glyphicon-time"></span> {{item.timestamp | date:'yyyy-MM-dd HH:mm'}}</h5>

    <div ng-controller="RatingIdeasController as RatingCtrl">
<!--         <h3>Rating</h3> -->
        <div ng-init="star.rating = item.avg_rating"></div>
        <div ng-init="rating = star.rating + 1"></div>
        <div class="rating" star-rating rating-value="rating"
         data-max="5" on-rating-selected="rateFunction(item.id, rating)"></div>
    </div>

    <h2 style="text-align:left;display:inline">{{item.title}}</h2>
    <br/>
    <p class="clearfix">{{item.description}}</p>
    <div>
        <button ng-click="vm.LikeIdea(item.id)" ng-init="liked='Like'" class="btn btn-primary" style="width:80px; height:30px;">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            {{liked}} {{item.likes}}
        </button>
    </div>
    <!-- idea tags specified code-->
    <!-- <div class="main">
        <ul class="artistlist">
            <li class="artist cf" ng-repeat="item in ideas">
                <div class="info">
                    <a href="#" style="display:inline"><span class="label label-primary">{{tag}}</span></a>
                </div>
            </li>
        </ul>
    </div> -->
    <!--End of tags code -->
    <div class="comments">
        <h4>{{item.comments.length}} Comments</h4>
        <div style="height:auto" class="comments-list panel panel-default" ng-repeat="comment in item.comments | orderBy : 'timestamp'">
            <div class="comment media">
                <div class="panel-heading">
                    <div class="pull-left">
                        <img class="avatar" src={{comment.owner.picture}} alt="" height="50" width="50" />
                    </div>
                    <strong>Posted by <a href="#">{{comment.owner.username}}</a></strong>
                    <br>
                    <small><span class="glyphicon glyphicon-calendar"></span>{{comment.timestamp | date:'yyyy-MM-dd HH:mm'}}</small>
                    <p>{{comment.text}}</p>
                </div>
            </div>
        </div>
        <!-- Start Comment Form -->
        <div class="comment-form">
            <!-- <p class="muted">Make sure you enter the (*) required information where indicated. HTML code is not allowed.</p> -->
            <form name="comment-form" id="comment-form" class="form-group" ng-submit="vm.AddComment(item.id, item.name)">
                <div class="row-fluid">
                </div>
                <textarea rows="3" name="message" id="message" class="form-control" placeholder="Comment here ..." ng-model="item.name"></textarea>
                <ul>
                    <button type="submit" class="btn btn-primary" style="width:80px; height:30px;">Like</button>
                    <button type="submit" class="btn btn-primary" style="width:80px; height:30px;">Comment</button>
                    <button type="submit" class="btn btn-primary" style="width:80px; height:30px;">Share</button>
                    <button type="submit" class="btn btn-primary" style="width:80px; height:30px;">Realize</button>
                </ul>
            </form>
        </div>
        <!-- End Comment Form -->
    </div>
</div>
