<div class="blog-item well" ng-repeat="item in ideas" >
       <h2 style="text-align:left;display:inline">{{item.title}}</h2>  by <h5 style="margin-top: 0;display:inline"> <a href="#">{{item.owner}} </a></h5>
       <br />
        <div class="blog-meta clearfix">
            <!-- <p> -->
                 <div>
            		<img src="" alt="[[IDEA IMAGE]]" />
        		</div>
          	<!-- </p> -->
        </div>
      <p><img src="" width="100%" alt="" /></p>
      <p><span class="glyphicon glyphicon-calendar"></span>[[IDEA POST DATE]]</p> 
      <h2 style="text-align:left">Description: </h2>
      <p class="clearfix">{{item.description}}</p>
      <h2 style="text-align:left"> Rating: {{item.rating}} </h2>

      <div class="tag">
      <h3>Tags</h3>
        <li class="artist cf" ng-repeat="tag in item.tags">
            <div class="info">
              <a href="#" style="display:inline"><span class="label label-primary">{{tag}}</span></a>
            </div>
        </li>
    </div>                       

    
       
        <div class="media-body">
            
        </div>
   
    <p>&nbsp;</p>
    
    <div id="comments" class="comments">

        <h4>{{item.comments.length}} Comments</h4>
        <div class="comments-list panel panel-default" ng-repeat="comment in item.comments">
            <div class="comment media">

                <div class="panel-heading">
	                <div class="pull-left">
	                    <img class="avatar" src={{comment.owner.picture}} alt="" height="50" width="50" />  
	                </div>
                    <strong>Posted by <a href="#">{{comment.owner.username}}</a></strong><br>
                    <small><span class="glyphicon glyphicon-calendar"></span>{{comment.timestamp | date:'yyyy-MM-dd HH:mm'}}</small><br>
                </div>
                <div class="panel-body">
                    <p>{{comment.text}}</p>
                </div>
            </div>
       </div>

        <!-- Start Comment Form -->
        <div class="comment-form">
        <!-- <p class="muted">Make sure you enter the (*) required information where indicated. HTML code is not allowed.</p> -->
            <form name="comment-form" id="comment-form">
                <div class="row-fluid">
                                 
                </div>
                <textarea rows="3" name="message" id="message" required="required" class="form-control" placeholder="Comment here ..."></textarea>
                <input type="submit" value="Submit Comment" class="btn btn-large btn-primary" />
            </form>
        </div>
        <!-- End Comment Form -->

    </div>

</div>
<!-- End Blog Item -->