    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead"><strong>Category</strong></p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Software</a>
                    <a href="#" class="list-group-item">Hardware</a>
                    <a href="#" class="list-group-item">Embedded Systems</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="product in apps">
                        <div class="thumbnail branch-name" > <!-- style="height:auto"-->
                            <img ng-src={{product.picture}} alt="">
                            <h3 style="font-size:12px" class="pull-right">{{product.price | currency}}</h3>
                            <div class="caption product-name-font">
                                <!--t3deel ellink <h4><a href="/market/">{{product.owner}}</a> -->
                                <h4>
                                <a href="/market/{{product.id}}"ng-click="vm.goToDetail(product.id)"><font size="3">{{product.name}}</font></a></h4>        
                                <p style="text-align:left; font-size:10px">{{product.description| limitTo:80}}</p>
                                
                                <!-- <div ng-repeat="tag in product.tags">
                                    <p>{{tag}}</p>
                                </div> -->
                            
                                <!-- rateeeeee here -->
                            <p class="pull-right">{{product.comments.length}} reviews</p>
                            <div>
                                <h3>Rating</h3>
                                <div ng-init="star.rating = product.avg_rating == 0.0 ? 3 : product.avg_rating"></div>
                                <div ng-init="rating = star.rating"></div>
                                <div class="rating" star-rating rating-value="rating"data-max="5" on-rating-selected="rateFunction(product.id, rating)">
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>