<div style="margin:20px 270px;width:750px;height:500px;padding:10px;margin-bottom: 20px;background-color: #fefefe;border: 1px solid blue;border-radius: 4px;">
  <p><b>Order Details</b></p>
  <div>
    <div style="">
      
      <h5><span class="glyphicon glyphicon-flag"></span>Item URL: /market/{{appId.id}}</h5>
      <!-- <h5><span class="glyphicon glyphicon-time"></span> {{Confirmation Code}}</h5> -->
    </div>
    <br>
    <div style="">
      <h5><span class="glyphicon glyphicon-user"></span>Username: {{user.username}}</h5>
      <h5><span class="glyphicon glyphicon-user"></span>Email Address: {{user.email}}</h5>
    </div>
    <br>
    <div style="">
      <h5><span class="glyphicon glyphicon-time"></span>Item Name: {{appId.name}}</h5>
      <h5><span class="glyphicon glyphicon-time"></span> {{appId.transactions}} users already bought this item</h5>
    </div>
    <br>
    <div style="">
      <h5><span class="glyphicon glyphicon-time"></span>Price: {{appId.price | currency}}</h5>
    </div>

  </div>  
  <hr style="opacity:0.7;background:black; margin: 0.5em 1px;width:300px">    
  <p>Payment Method</p>   
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      Cash On Delivery
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      Pay through vodafone
    </label>
  </div>

  <button type="submit" class="btn btn-success" style="margin-top: 1%" ng-click="vm.GetDeliveryInfo(appId.id)">Confirm</button>
</div>