
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">


<div style="margin:20px 270px;width:750px;height:500px;padding:10px;margin-bottom: 20px;background-color: #fefefe;border: 1px solid blue;border-radius: 4px;">
	<p><b>Order Details</b></p>
	<div>
		<div style="">
			
			<h5><span class="glyphicon glyphicon-time"></span> {{ID}}</h5>
			<h5><span class="glyphicon glyphicon-time"></span> {{Confirmation Code}}</h5>
		</div>
		<br>
		<div style="">
			<h5><span class="glyphicon glyphicon-user"></span> {{username}}</h5>
			<h5><span class="glyphicon glyphicon-user"></span> {{useremail}}</h5>
		</div>
		<br>
		<div style="">
			<h5><span class="glyphicon glyphicon-time"></span> {{ProductName}}</h5>
			<h5><span class="glyphicon glyphicon-time"></span> {{NumberTickets}}</h5>
		</div>
		<br>
		<div style="">
			<h5><span class="glyphicon glyphicon-time"></span> {{Price}}</h5>
		</div>
		<br>
		<div>
			<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>		</div>
	</div>	
	<hr style="opacity:0.7;background:black; margin: 0.5em 1px;width:300px">	
	<p>Payment Method</p>	
	<div class="radio">
	  <label>
	    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
	    Cash On Delivery
	  </label>
	</div>
	<div class="radio">
	  <label>
	    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
	    Pay through vodafone
	  </label>
	</div>
</div>