<div class="row placeholders">
    <div class="placeholder">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Paid Transactions</h3>
            </div>
        </div>
                    <ul class="list-group" ng-repeat="transaction in transactions | filter:{paid:true}">
                         <li type="submit" class="list-group-item" style="padding-left: 5%">
                            Transaction Owner: {{transaction.owner.username}} , App Name: {{transaction.app.name}} , App Price: {{transaction.app.price}} , Transaction ID: {{transaction.unique_id}} , Is Paid For: {{transaction.paid}} , Download Link: {{transaction.app.uploaded_file}}
                         </li>
                    </ul>
    </div>
</div>
<div class="row placeholders">
    <div class="placeholder">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Unpaid Transactions</h3>
            </div>
        </div>
                    <ul class="list-group" ng-repeat="transaction in transactions | filter:{paid:false}">
                         <li type="submit" class="list-group-item" style="padding-left: 5%">
                            Transaction Owner: {{transaction.owner.username}} , App Name: {{transaction.app.name}} , App Price: {{transaction.app.price}} , Transaction ID: {{transaction.unique_id}} , Is Paid For: {{transaction.paid}}
                         </li>
                    </ul>
    </div>
</div>
<div class="row placeholders">
    <div class="placeholder">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title text-center">My Apps</h3>
            </div>
        </div>
                    <ul class="list-group" >
                         <li type="submit" class="list-group-item" style="padding-left: 5%">
                            App Name: {{my_apps[0].name}} , Your Profit: {{my_apps[0].price*my_apps[0].transactions}}
                         </li>
                         <li type="submit" class="list-group-item" style="padding-left: 5%">
                            App Name: {{my_apps[1].name}} , Your Profit: {{my_apps[1].price*my_apps[1].transactions}}
                         </li>
                         <li type="submit" class="list-group-item" style="padding-left: 5%">
                            App Name: {{my_apps[2].name}} , Your Profit: {{my_apps[2].price*my_apps[2].transactions}}
                         </li>
                    </ul>
    </div>
</div>