{% load socialaccount %}
 {# ng-app="DevCafe" #}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DevCafe</title>

    <base href="/" />

  {% include 'stylesheets.html' %}
</head>
<body>

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1585592541690655',
        xfbml      : true,
        version    : 'v2.2'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>


  <a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook OAuth2</a>

  <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
  </div>
 <a href="/idea">Idea</a>

 <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 ng-view"></div>
    </div>
  </div>

{% include 'javascripts.html' %}
</body>
</html>
