{% load socialaccount %}
 {# ng-app="DevCafe" #}
<!doctype html>
<html lang="en" ng-app="devcafe">
<head>
  <meta charset="UTF-8">
  <title>DevCafe</title>

    <base href="/" />

  {% include 'stylesheets.html' %}
</head>
<body style="padding-top: 50px;"> <!--add to correct content after navbar -->

  <div id="fb-root">
  </div>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1585592541690655',
      xfbml      : true,
      version    : 'v2.3'
    });
  };
      
      (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>

  {% include 'navbar.html' %}

  <button ng-click="login_fb()">Login with Facebook</button>

 <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 ng-view"></div>
    </div>
  </div>


{% include 'javascripts.html' %}
</body>
</html>
