{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/jquery-ui/themes/base/jquery-ui.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />
<!-- <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/material.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/profile.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/font-awesome.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/font-awesome.min.css' %}" />
<!-- <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/main.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/sl-slide.css' %}" />

<!-- mine -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/ratingIdeas.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/shop-item.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/shop-homepage.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/detailed-css.css' %}" />


<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/videoResize.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/project-view.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/detailed-project.css' %}" />


<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/social.css' %}" />
