<!-- <link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/blog-post.css" rel="stylesheet">
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
-->
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1>{{projId.title}}</h1>
            <div>
            <p class="lead">
                by <a href="#">{{projId.PM.username}}</a>
            </p>
            <!--project options drop menu  -->
            <div class="dropdown" ng-if="projId.is_pm">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Options
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#" data-toggle="modal" data-target="#logo" ng-if="projId.is_pm">Change Logo</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#CreateJob" ng-if="projId.is_pm">Create Job</a></li>
                </ul>
            </div>
            <!--End   project options drop menu  -->
            </div>
            <hr>
            <p><span class="glyphicon glyphicon-time"></span> {{projId.timestamp | date:'yyyy-MM-dd HH:mm'}}</p>
            <hr>
            <img class="proj-logo img-responsive" ng-src="{{projId.logo}}" alt="No Picture" style="max-width: 150px;max-height: 150px">
            <hr>
            <p class="lead">{{projId.description}}</p>
            <hr>
        </div>


        <!-- assign tasks part -->
        
<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">

            <!-- Blog Categories Well -->
            <div class="well">
                <h2>My Tasks</h2>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled" ng-repeat="task in mytasks">
                            <li>Task Title: {{task.title}}, Task Description: {{task.description}}, Done: {{task.is_done}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <div class="col-md-4">
        <div class="well">
            <h2>Contributors</h2>
            <div ng-repeat="contributor in projId.contributors">
            <strong>{{contributor.user}}</strong>

            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#assignTaskModel{{contributor.id}}" ng-if="projId.is_pm">Assign Task</button>

            <!-- start popup here -->
            <div class="modal fade" id="assignTaskModel{{contributor.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Assign Task</h4>
                </div>
                <div class="modal-body">
                  <div style="margin:20px 270px;width:750px;height:500px;padding:10px;margin-bottom: 20px">
                    <!-- here tany -->

            <div class="form-group">
                <label for="create__price">Title</label>
                <input type="text" class="form-control" id="create__description" min="1" ng-model="vm.title" required="true" ng-focus data-content="Valid Title required"/>
            </div>

            <div class="form-group">
                <label for="create__description">Description: </label>
                <input type="text" class="form-control" id="create__description" ng-model="vm.description" required="true" data-content="Valid Description required"/>
            </div>

            <!-- call fn -->
            <div class="form-group">
                <button type="submit" class="btn btn-success" ng-click="vm.assignTask(contributor.id, vm.title, vm.description)">Done</button>
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>
</div>
</div>
<!-- end popup here -->
</div>

        </div>
        </div>
    </div>
</div>


<!--change logo modal -->
<div class="modal fade" id="logo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Logo</h4>
            </div>
            <div class="modal-body">

                <button type="file" ngf-select="" ng-model="logo" accept="image/*" class="btn-sm">Browse pictures</button>
                <br>
                <div>
                    <img ng-show="logo[0] != null" ngf-thumbnail="logo[0]" class="thumb" style="height: 100px;width: 110px;">
                </div>

                <div>
        <span class="progress" ng-show="logo.progress >= 0">
          <div style="width:100%" ng-bind="logo.progress + '%'" class="ng-binding">100%</div>
        </span>
                    <span ng-show="logo.result" class="">Upload Successful</span>
                </div>


                <div class="progress" ng-show="logo.progress >= 0">
                    <div ng-bind="logo.progress + '%'" class="progress-bar" role="progressbar" aria-valuenow="{{ logo.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ logo.progress }}%;">
                        0%
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="logo=null">Close</button>
                    <button type="button" class="btn btn-primary sjqclass" ng-click="vm.changeLogo(logo)" disabled="disabled">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End change logo modal -->


<!--Add job modal -->
<div class="modal fade" id="CreateJob" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Create New Job</h4>
      </div>
      <div class="modal-body">
        <form name="creJob">
          <div class="form-group">
            <label for="job-name" class="control-label">Name:</label>
            <input type="text" class="form-control" id="job-name" ng-model="jName" required="true" ng-focus data-content="Valid job name required">
          </div>
          <div class="form-group">
            <label for="Description" class="control-label">Description:</label>
            <textarea class="form-control" id="Description" ng-model="jDesc" required="true" ng-focus data-content="Valid job description required"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary sjq1class" ng-disabled="creJob.$invalid" ng-click="vm.createJob()">Submit Job</button>
      </div>
    </div>
  </div>
</div>
<!--End  Add job modal -->